// $primary-color: #cc0029;
$primary-color: #0f172a;

$secondary-color: #fff;
$other-color-1: #03C03C;
$text-primary: #cecece;
$text-white: #fff;

$bg-main: #e8e8e8;
$bg-light: #fff;
$bg-blue: #090979;
$bg-lightblue: #00d4ff;