<div class="create">
    <div class="due_date" (click)="dueDate()">
        <i class="fas fa-calendar-plus"></i>
        <p>
            Create Due Date
        </p>
    </div>
    <div class="broadcast_message" (click)="broadcastMessage()">
        <i class="fas fa-envelope"></i>
        <p>
            Create Broadcast Message
        </p>
    </div>
    <div class="message" (click)="message()">
        <i class="fas fa-inbox"></i>
        <p>
            Message
        </p>
    </div>
    <div class="message" (click)="message()">
        <i class="fas fa-inbox"></i>
        <p>
            Message
        </p>
    </div>
    
</div>