<section class="nav">
    <div class="nav_side">
        <!-- <div class="nav_side-header">
            <div class="icon_btn">
                <i class="far fa-arrow-alt-circle-right fa-2x"></i>
            </div>
        </div> -->
        <div class="profile">
            <div class="profile_picture">
                <img src="/assets/images/avatar.png" alt="">
            </div>
            <div class="profile_detail">
                <p>Ayinla Abel </p>
                <p>kraneabel@gmail.com</p>
            </div>
        </div>
        <div class="navbar">
            <div class="navbar_item">
                <a href="/dashboard/u" class="nav_link">
                    <span class="nav_link-icon"><i class="fas fa-tachometer-alt"></i></span>
                    <span class="nav_link-title">Dashboard</span> 
                </a>
            </div>
            <div class="navbar_item">
                <a href="/dashboard/w" class="nav_link">
                    <span class="nav_link-icon"><i class="fas fa-wallet"></i></span>
                    <span class="nav_link-title">Wallet</span> 
                </a>
            </div>
            <div class="navbar_item">
                <a href="dashboard/t" class="nav_link">
                    <span class="nav_link-icon"><i class="fas fa-exchange-alt"></i></span>
                    <span class="nav_link-title">Transaction</span> 
                </a>
            </div>
            <div class="navbar_item">
                <a href="dashboard/p" class="nav_link">
                    <span class="nav_link-icon"><i class="fas fa-user"></i></span>
                    <span class="nav_link-title">Profile</span> 
                </a>
            </div>
            <div class="navbar_item">
                <a href="dashboard/s" class="nav_link">
                    <span class="nav_link-icon"><i class="fas fa-cog"></i></span>
                    <span class="nav_link-title">Setting</span> 
                </a>
            </div>
        </div>
    </div>
</section>