.login {
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;
    // background: black;
    overflow: hidden;
    &_container {
        width: 20rem;
        height: 25rem;
        border-radius: 5px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, .4);
        background: white;
        padding: 1.5rem;
        display: grid;
        place-items: center;

        .login_header {
            text-align: center;
        }

        .signup {
            text-align: center;
        }
    }
}

button {
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
}