<section class="login">
    <div class="login_container">
        <div class="login_header">
            <h2>Login</h2>
        </div>
        <form class="login_form col">
            <div class="input-field col-100">
                <input #emailInput type="text" required>
                <label>Email</label>
                <span></span>
            </div>
            <div class="input-field col-100">
                <input #pwInput type="password" required>
                <label>Password</label>
                <span></span>
            </div>
            <button class="jw-btn jw-btn-primary d-block w-50" (click)="onLogin(emailInput.value, pwInput.value)">Login</button>
        </form>
        <div class="signup">
            <p>Don't have an account? <a href="/signup">Register</a></p>
        </div>
    </div>
</section>