<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create Due Date</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
        <form>
            <div class="input-field">
                <input [(ngModel)]="date" name="date" type="datetime-local">
                <label>Date</label>
            </div>
            <!-- <div class="input-field">
                <input [(ngModel)]="time" name="time" type="time">
                <label>Time</label>
            </div> -->
            <button type="button" class="jw-btn jw-btn-primary" (click)="createDueDate()">Save changes</button>
        </form>
</div>
<div class="modal-footer">
    <button type="button" class="jw-btn jw-btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
</div>