// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 320px) and (max-width: 576px) { 


    .header {
        display: none;
       
    
        .balance {
            // width: 30rem;
            // padding: 1rem 3rem;
    
    
            &_container{
                // position: relative;
                // background: rgb(9,9,121);
                background: linear-gradient(120deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
                // padding: 2rem;
                // box-shadow: 1px 1px 12px #000;
                // border-radius: 6px;
                // text-align: center;
                color: $text-white;
    
                span {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    font-size: 5rem;
                    opacity: .5;
                    color: $secondary-color;
                }
            }
        }
        .date {
    
            &_container {
                    background: $other-color-1;
                    color: $text-white;
    
                    span {
                        color: lighten($secondary-color, 10) !important;
                    }
                }
    
                
        }
        .time {
            
            &_container{
                background: $primary-color;
                color: $text-white;
            }
        }
    
        .balance,
        .date,
        .time{
    
            width: 35rem;
            padding: 1rem 3rem;
    
            &_container{
                position: relative;
                padding: 2rem;
                box-shadow: 1px 1px 12px #cecece;
                border-radius: 6px;
                text-align: center;
    
                span {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    font-size: 5rem;
                    opacity: .5;
                    color: $secondary-color;
                }
            }
        }
    }

    .isMobile {
        display: block;
        place-items: center;
        height: 10rem;
        width: 100%;
        padding: 1rem;
        overflow: hidden;
        
        

        .container {
            background: $bg-light;
            height: 100%;
            border-radius: 5px;

            .top {
                // // display: grid;
                // place-items: center;
                text-align: center;
                margin-bottom: 1rem;

                p,
                sup{
                    display: inline;
                }
                sup {
                    font-size: 1.1rem;
                    margin-top: .6rem;
                }
                p {
                    font-size: 2rem;
                    font-weight: 600;
                }
            }


            .due {
                p{
                    font-size: 1rem;
                }
            }
        }
    }
    
    .middle {
        display: block;
        margin-left: 0;
        margin-right: 0;
        max-height: 30rem;
        padding: 1rem;
        width: 100%;
        overflow-y: scroll;    
    
        .transaction_{
            background: $bg-light;
            padding: 0;
            border-radius: 5px;
            // margin-right: .5rem;
            height: 30rem;
            max-width: 100%;
            
        }
    
        .notification {
            display: none;
            grid-area: notification;
            background: $bg-light;
            margin-left: .5rem;
            border-radius: 5px;
            
            &_header {
                background: $primary-color;
                padding: 1rem;
                color: $text-white;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 577px) and (min-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media screen and (min-width: 993px) and (min-width: 992px) { 
    
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    
 }